body {
	background-color: white;
	overflow: hidden;
}

canvas {
	position: absolute;
    /*left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);*/
}

#imageBoard {
	/*position: absolute;
	
	right: 50px;
	top: 50px;
	
	width: 250px;
	height: 500px;
	background-color: grey;*/
	
	padding: 8px;
	height: 100vh;
}

#canvas-container {
	height:100vh;
}

.icon-container {
	padding-left: 4px;
	cursor: pointer;
}
.selected {
	border: 1px red dotted;
}

#download {
	position: absolute;
	bottom: 5px;
}

.nav-pills > li > a
{
    /* adjust padding for height*/
    padding-top: 2px; 
    padding-bottom: 2px;
}